.main {
    height: 455px;
    width: 980px;
    /* background-color: pink; */
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 721px;
    height: 455px;
    background-color: purple;
}

.newflash {
    float: right;
    width: 250px;
    height: 455px;
    /* background-color: skyblue; */
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
    /* background-color: pink; */
}
.news-hd   {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 33px;
    padding: 0 15px;
    /* text-align: center; */
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd .more {
    font-family: 'icomoon';
    float: right;
}

.news-hd .more::after {
    content: '\e920';
}

.news-bd ul li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 超出文字用省略号显示 */
    height: 24px;
    line-height: 24px;
}

.news-bd {
    padding: 5px 15px 0;
}
.lifesrvice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    /* background-color: purple; */
}

.lifesrvice ul {
    width: 252px;
}
.lifesrvice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifesrvice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background-color: pink;
    background:url(../images/icons.png) no-repeat -19px -15px;
}

.bargain {
    margin-top: 5px ;
}

/* 推荐模块 */
.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom_hd{
    float: left;
    height: 163px;
    width: 204px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

/* .recom_bd {
    float: left;
} */

.recom_bd ul li {
    position: relative;
    float: left;
}
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3) ::after{
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/* 家用电器模块 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623; 
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
    
}

.tab-list {
    float: right;
    line-height: 30px;
}

.tab-list ul {
    float: left;
}
.tab-list ul li a{
    margin: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;
    /* background-color: pink; */
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;

}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.col_210 ul {
    padding-left: 12px;
}

.col_329 {
    width: 329px;
    
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    /* 一般情况下，a如果包含有宽度的盒子，a需要转换为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}